## Misc and test code goes here in this notebook

In [1]:
#importing libraries,see which ones to keep for final notebook comp.

import pandas as pd
import numpy as np

from matplotlib import pyplot as plt
from scipy import stats
import seaborn as sns

from sklearn.linear_model import LinearRegression
from mpl_toolkits import mplot3d
import sklearn.metrics as metrics
import statsmodels.api as sm

from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import PolynomialFeatures
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

%matplotlib inline

In [2]:
#importing data set
df = pd.read_csv('data/kc_house_data.csv', parse_dates=['date'])

In [3]:
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,greenbelt,...,sewer_system,sqft_above,sqft_basement,sqft_garage,sqft_patio,yr_built,yr_renovated,address,lat,long
0,7399300360,2022-05-24,675000.0,4,1.0,1180,7140,1.0,NO,NO,...,PUBLIC,1180,0,0,40,1969,0,"2102 Southeast 21st Court, Renton, Washington ...",47.461975,-122.19052
1,8910500230,2021-12-13,920000.0,5,2.5,2770,6703,1.0,NO,NO,...,PUBLIC,1570,1570,0,240,1950,0,"11231 Greenwood Avenue North, Seattle, Washing...",47.711525,-122.35591
2,1180000275,2021-09-29,311000.0,6,2.0,2880,6156,1.0,NO,NO,...,PUBLIC,1580,1580,0,0,1956,0,"8504 South 113th Street, Seattle, Washington 9...",47.502045,-122.22520
3,1604601802,2021-12-14,775000.0,3,3.0,2160,1400,2.0,NO,NO,...,PUBLIC,1090,1070,200,270,2010,0,"4079 Letitia Avenue South, Seattle, Washington...",47.566110,-122.29020
4,8562780790,2021-08-24,592500.0,2,2.0,1120,758,2.0,NO,NO,...,PUBLIC,1120,550,550,30,2012,0,"2193 Northwest Talus Drive, Issaquah, Washingt...",47.532470,-122.07188
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30150,7834800180,2021-11-30,1555000.0,5,2.0,1910,4000,1.5,NO,NO,...,PUBLIC,1600,1130,0,210,1921,0,"4673 Eastern Avenue North, Seattle, Washington...",47.664740,-122.32940
30151,194000695,2021-06-16,1313000.0,3,2.0,2020,5800,2.0,NO,NO,...,PUBLIC,2020,0,0,520,2011,0,"4131 44th Avenue Southwest, Seattle, Washingto...",47.565610,-122.38851
30152,7960100080,2022-05-27,800000.0,3,2.0,1620,3600,1.0,NO,NO,...,PUBLIC,940,920,240,110,1995,0,"910 Martin Luther King Jr Way, Seattle, Washin...",47.610395,-122.29585
30153,2781280080,2022-02-24,775000.0,3,2.5,2570,2889,2.0,NO,NO,...,PUBLIC,1830,740,480,100,2006,0,"17127 114th Avenue Southeast, Renton, Washingt...",47.449490,-122.18908
30154,9557800100,2022-04-29,500000.0,3,1.5,1200,11058,1.0,NO,NO,...,PUBLIC,1200,0,420,0,1965,0,"18615 7th Avenue South, Burien, Washington 981...",47.435840,-122.32634

In [9]:
# check unique tags for grade
df['grade'].unique()
# check unique tags for condition
df['condition'].unique()

print(df['grade'].unique())
print(df['condition'].unique())

['7 Average' '9 Better' '8 Good' '6 Low Average' '10 Very Good' '5 Fair'
 '11 Excellent' '12 Luxury' '4 Low' '13 Mansion' '3 Poor' '1 Cabin'
 '2 Substandard']
['Good' 'Average' 'Very Good' 'Fair' 'Poor']

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30155 entries, 0 to 30154
Data columns (total 25 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             30155 non-null  int64
 1   date           30155 non-null  datetime64[ns]
 2   price          30155 non-null  float64
 3   bedrooms       30155 non-null  int64
 4   bathrooms      30155 non-null  float64
 5   sqft_living    30155 non-null  int64
 6   sqft_lot       30155 non-null  int64
 7   floors         30155 non-null  float64
 8   waterfront     30155 non-null  object
 9   greenbelt      30155 non-null  object
 10  nuisance       30155 non-null  object
 11  view           30155 non-null  object
 12  condition      30155 non-null  object
 13  grade          30155 non-null  object
 14  heat_source    30123 non-null  object
 15  sewer_system   30141 non-null  object
 16  sqft_above     30155 non-null  int64
 17  sqft_basement  30155 non-null  int64
 18  sqft_garage    30155 non-null  int64
 19  sqft_patio     30155 non-null  int64
 20  yr_built       30155 non-null  int64
 21  yr_renovated   30155 non-null  int64
 22  address        30155 non-null  object
 23  lat            30155 non-null  float64
 24  long           30155 non-null  float64
dtypes: datetime64[ns](1), float64(5), int64(10), object(9)
memory usage: 5.8+ MB

In [7]:
df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,sqft_above,sqft_basement,sqft_garage,sqft_patio,yr_built,yr_renovated,lat,long
count,3.015500e+04,3.015500e+04,30155.000000,30155.000000,30155.000000,3.015500e+04,30155.000000,30155.000000,30155.000000,30155.000000,30155.000000,30155.000000,30155.000000,30155.000000,30155.000000
mean,4.538104e+09,1.108536e+06,3.413530,2.334737,2112.424739,1.672360e+04,1.543492,1809.826098,476.039396,330.211142,217.412038,1975.163953,90.922301,47.328076,-121.317397
std,2.882587e+09,8.963857e+05,0.981612,0.889556,974.044318,6.038260e+04,0.567717,878.306131,579.631302,285.770536,245.302792,32.067362,416.473038,1.434005,5.725475
min,1.000055e+06,2.736000e+04,0.000000,0.000000,3.000000,4.020000e+02,1.000000,2.000000,0.000000,0.000000,0.000000,1900.000000,0.000000,21.274240,-157.791480
25%,2.064175e+09,6.480000e+05,3.000000,2.000000,1420.000000,4.850000e+03,1.000000,1180.000000,0.000000,0.000000,40.000000,1953.000000,0.000000,47.405320,-122.326045
50%,3.874011e+09,8.600000e+05,3.000000,2.500000,1920.000000,7.480000e+03,1.500000,1560.000000,0.000000,400.000000,150.000000,1977.000000,0.000000,47.551380,-122.225585
75%,7.287100e+09,1.300000e+06,4.000000,3.000000,2619.500000,1.057900e+04,2.000000,2270.000000,940.000000,510.000000,320.000000,2003.000000,0.000000,47.669913,-122.116205
max,9.904000e+09,3.075000e+07,13.000000,10.500000,15360.000000,3.253932e+06,4.000000,12660.000000,8020.000000,3580.000000,4370.000000,2022.000000,2022.000000,64.824070,-70.074340

In [8]:
print(df.columns.tolist())

['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'waterfront', 'greenbelt', 'nuisance', 'view', 'condition', 'grade', 'heat_source', 'sewer_system', 'sqft_above', 'sqft_basement', 'sqft_garage', 'sqft_patio', 'yr_built', 'yr_renovated', 'address', 'lat', 'long']

* `id` - Unique identifier for a house
* `date` - Date house was sold
* `price` - Sale price (prediction target)
* `bedrooms` - Number of bedrooms
* `bathrooms` - Number of bathrooms
* `sqft_living` - Square footage of living space in the home
* `sqft_lot` - Square footage of the lot
* `floors` - Number of floors (levels) in house
* `waterfront` - Whether the house is on a waterfront
  * Includes Duwamish, Elliott Bay, Puget Sound, Lake Union, Ship Canal, Lake Washington, Lake Sammamish, other lake, and river/slough waterfronts
* `greenbelt` - Whether the house is adjacent to a green belt
* `nuisance` - Whether the house has traffic noise or other recorded nuisances
* `view` - Quality of view from house
  * Includes views of Mt. Rainier, Olympics, Cascades, Territorial, Seattle Skyline, Puget Sound, Lake Washington, Lake Sammamish, small lake / river / creek, and other
* `condition` - How good the overall condition of the house is. Related to maintenance of house.
* `grade` - Overall grade of the house. Related to the construction and design of the house.
* `heat_source` - Heat source for the house
* `sewer_system` - Sewer system for the house
* `sqft_above` - Square footage of house apart from basement
* `sqft_basement` - Square footage of the basement
* `sqft_garage` - Square footage of garage space
* `sqft_patio` - Square footage of outdoor porch or deck space
* `yr_built` - Year when house was built
* `yr_renovated` - Year when house was renovated
* `address` - The street address
* `lat` - Latitude coordinate
* `long` - Longitude coordinate

In [9]:
#removing home id, no. of floors, heat_source, lat & long coordinates
df.drop(['id', 'floors', 'heat_source',
         'lat','long'], axis=1, inplace=True)

df

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,waterfront,greenbelt,nuisance,view,condition,grade,sewer_system,sqft_above,sqft_basement,sqft_garage,sqft_patio,yr_built,yr_renovated,address
0,2022-05-24,675000.0,4,1.0,1180,7140,NO,NO,NO,NONE,Good,7 Average,PUBLIC,1180,0,0,40,1969,0,"2102 Southeast 21st Court, Renton, Washington ..."
1,2021-12-13,920000.0,5,2.5,2770,6703,NO,NO,YES,AVERAGE,Average,7 Average,PUBLIC,1570,1570,0,240,1950,0,"11231 Greenwood Avenue North, Seattle, Washing..."
2,2021-09-29,311000.0,6,2.0,2880,6156,NO,NO,NO,AVERAGE,Average,7 Average,PUBLIC,1580,1580,0,0,1956,0,"8504 South 113th Street, Seattle, Washington 9..."
3,2021-12-14,775000.0,3,3.0,2160,1400,NO,NO,NO,AVERAGE,Average,9 Better,PUBLIC,1090,1070,200,270,2010,0,"4079 Letitia Avenue South, Seattle, Washington..."
4,2021-08-24,592500.0,2,2.0,1120,758,NO,NO,YES,NONE,Average,7 Average,PUBLIC,1120,550,550,30,2012,0,"2193 Northwest Talus Drive, Issaquah, Washingt..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30150,2021-11-30,1555000.0,5,2.0,1910,4000,NO,NO,NO,NONE,Good,8 Good,PUBLIC,1600,1130,0,210,1921,0,"4673 Eastern Avenue North, Seattle, Washington..."
30151,2021-06-16,1313000.0,3,2.0,2020,5800,NO,NO,NO,FAIR,Average,7 Average,PUBLIC,2020,0,0,520,2011,0,"4131 44th Avenue Southwest, Seattle, Washingto..."
30152,2022-05-27,800000.0,3,2.0,1620,3600,NO,NO,YES,NONE,Average,7 Average,PUBLIC,940,920,240,110,1995,0,"910 Martin Luther King Jr Way, Seattle, Washin..."
30153,2022-02-24,775000.0,3,2.5,2570,2889,NO,NO,NO,NONE,Average,8 Good,PUBLIC,1830,740,480,100,2006,0,"17127 114th Avenue Southeast, Renton, Washingt..."
30154,2022-04-29,500000.0,3,1.5,1200,11058,NO,NO,NO,NONE,Average,7 Average,PUBLIC,1200,0,420,0,1965,0,"18615 7th Avenue South, Burien, Washington 981..."

In [13]:
# Create zip codes from available home addresses
df['zip'] = [x.split(',')[2][-5:] for x in df['address']]
df

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,waterfront,greenbelt,nuisance,view,...,sqft_patio,yr_built,yr_renovated,address,zip,city,sale_year,home_age,yr_from_reno,design_age
0,2022-05-24,675000.0,4,1.0,1180,7140,NO,NO,NO,NONE,...,40,1969,0,"2102 Southeast 21st Court, Renton, Washington ...",98055,Renton,2022,54,2023,54
1,2021-12-13,920000.0,5,2.5,2770,6703,NO,NO,YES,AVERAGE,...,240,1950,0,"11231 Greenwood Avenue North, Seattle, Washing...",98133,Seattle,2021,72,2022,72
2,2021-09-29,311000.0,6,2.0,2880,6156,NO,NO,NO,AVERAGE,...,0,1956,0,"8504 South 113th Street, Seattle, Washington 9...",98178,Seattle,2021,66,2022,66
3,2021-12-14,775000.0,3,3.0,2160,1400,NO,NO,NO,AVERAGE,...,270,2010,0,"4079 Letitia Avenue South, Seattle, Washington...",98118,Seattle,2021,12,2022,12
4,2021-08-24,592500.0,2,2.0,1120,758,NO,NO,YES,NONE,...,30,2012,0,"2193 Northwest Talus Drive, Issaquah, Washingt...",98027,Issaquah,2021,10,2022,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30150,2021-11-30,1555000.0,5,2.0,1910,4000,NO,NO,NO,NONE,...,210,1921,0,"4673 Eastern Avenue North, Seattle, Washington...",98103,Seattle,2021,101,2022,101
30151,2021-06-16,1313000.0,3,2.0,2020,5800,NO,NO,NO,FAIR,...,520,2011,0,"4131 44th Avenue Southwest, Seattle, Washingto...",98116,Seattle,2021,11,2022,11
30152,2022-05-27,800000.0,3,2.0,1620,3600,NO,NO,YES,NONE,...,110,1995,0,"910 Martin Luther King Jr Way, Seattle, Washin...",98122,Seattle,2022,28,2023,28
30153,2022-02-24,775000.0,3,2.5,2570,2889,NO,NO,NO,NONE,...,100,2006,0,"17127 114th Avenue Southeast, Renton, Washingt...",98055,Renton,2022,17,2023,17
30154,2022-04-29,500000.0,3,1.5,1200,11058,NO,NO,NO,NONE,...,0,1965,0,"18615 7th Avenue South, Burien, Washington 981...",98148,Burien,2022,58,2023,58

In [15]:
# we only want records from home in the king county area. thus, we're removing all zipcodes from homes provided in
# the database that dont start with '98'
#sourced from: https://www.zillow.com/browse/homes/wa/king-county/ 
df = df[df.zip.str.startswith(('98'))]

df['city'] = [x.split(',')[1][0:] for x in df['address']]

df

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,waterfront,greenbelt,nuisance,view,...,sqft_patio,yr_built,yr_renovated,address,zip,city,sale_year,home_age,yr_from_reno,design_age
0,2022-05-24,675000.0,4,1.0,1180,7140,NO,NO,NO,NONE,...,40,1969,0,"2102 Southeast 21st Court, Renton, Washington ...",98055,Renton,2022,54,2023,54
1,2021-12-13,920000.0,5,2.5,2770,6703,NO,NO,YES,AVERAGE,...,240,1950,0,"11231 Greenwood Avenue North, Seattle, Washing...",98133,Seattle,2021,72,2022,72
2,2021-09-29,311000.0,6,2.0,2880,6156,NO,NO,NO,AVERAGE,...,0,1956,0,"8504 South 113th Street, Seattle, Washington 9...",98178,Seattle,2021,66,2022,66
3,2021-12-14,775000.0,3,3.0,2160,1400,NO,NO,NO,AVERAGE,...,270,2010,0,"4079 Letitia Avenue South, Seattle, Washington...",98118,Seattle,2021,12,2022,12
4,2021-08-24,592500.0,2,2.0,1120,758,NO,NO,YES,NONE,...,30,2012,0,"2193 Northwest Talus Drive, Issaquah, Washingt...",98027,Issaquah,2021,10,2022,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30150,2021-11-30,1555000.0,5,2.0,1910,4000,NO,NO,NO,NONE,...,210,1921,0,"4673 Eastern Avenue North, Seattle, Washington...",98103,Seattle,2021,101,2022,101
30151,2021-06-16,1313000.0,3,2.0,2020,5800,NO,NO,NO,FAIR,...,520,2011,0,"4131 44th Avenue Southwest, Seattle, Washingto...",98116,Seattle,2021,11,2022,11
30152,2022-05-27,800000.0,3,2.0,1620,3600,NO,NO,YES,NONE,...,110,1995,0,"910 Martin Luther King Jr Way, Seattle, Washin...",98122,Seattle,2022,28,2023,28
30153,2022-02-24,775000.0,3,2.5,2570,2889,NO,NO,NO,NONE,...,100,2006,0,"17127 114th Avenue Southeast, Renton, Washingt...",98055,Renton,2022,17,2023,17
30154,2022-04-29,500000.0,3,1.5,1200,11058,NO,NO,NO,NONE,...,0,1965,0,"18615 7th Avenue South, Burien, Washington 981...",98148,Burien,2022,58,2023,58

In [16]:
#create sale year column from datetime date info
df['year_sold'] = pd.DatetimeIndex(df['date']).year.astype(int)

df['year_sold'].value_counts()

2021    18680
2022    10557
Name: sale_year, dtype: int64

In [18]:
# creating column to figure out the age of the house
df['home_age'] = (df['year_sold']+1) - df['yr_built']

#creating a column to see when the home was last renovated (if applicable)
df['yr_from_reno'] = (df['year_sold']+1) - df['yr_renovated']

# creating a filter for yr_from_reno to ID houses that HAVENT been renovated
reno_filter = df['yr_from_reno'] > 2000

df

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,waterfront,greenbelt,nuisance,view,...,sqft_patio,yr_built,yr_renovated,address,zip,city,sale_year,home_age,yr_from_reno,design_age
0,2022-05-24,675000.0,4,1.0,1180,7140,NO,NO,NO,NONE,...,40,1969,0,"2102 Southeast 21st Court, Renton, Washington ...",98055,Renton,2022,54,2023,54
1,2021-12-13,920000.0,5,2.5,2770,6703,NO,NO,YES,AVERAGE,...,240,1950,0,"11231 Greenwood Avenue North, Seattle, Washing...",98133,Seattle,2021,72,2022,72
2,2021-09-29,311000.0,6,2.0,2880,6156,NO,NO,NO,AVERAGE,...,0,1956,0,"8504 South 113th Street, Seattle, Washington 9...",98178,Seattle,2021,66,2022,66
3,2021-12-14,775000.0,3,3.0,2160,1400,NO,NO,NO,AVERAGE,...,270,2010,0,"4079 Letitia Avenue South, Seattle, Washington...",98118,Seattle,2021,12,2022,12
4,2021-08-24,592500.0,2,2.0,1120,758,NO,NO,YES,NONE,...,30,2012,0,"2193 Northwest Talus Drive, Issaquah, Washingt...",98027,Issaquah,2021,10,2022,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30150,2021-11-30,1555000.0,5,2.0,1910,4000,NO,NO,NO,NONE,...,210,1921,0,"4673 Eastern Avenue North, Seattle, Washington...",98103,Seattle,2021,101,2022,101
30151,2021-06-16,1313000.0,3,2.0,2020,5800,NO,NO,NO,FAIR,...,520,2011,0,"4131 44th Avenue Southwest, Seattle, Washingto...",98116,Seattle,2021,11,2022,11
30152,2022-05-27,800000.0,3,2.0,1620,3600,NO,NO,YES,NONE,...,110,1995,0,"910 Martin Luther King Jr Way, Seattle, Washin...",98122,Seattle,2022,28,2023,28
30153,2022-02-24,775000.0,3,2.5,2570,2889,NO,NO,NO,NONE,...,100,2006,0,"17127 114th Avenue Southeast, Renton, Washingt...",98055,Renton,2022,17,2023,17
30154,2022-04-29,500000.0,3,1.5,1200,11058,NO,NO,NO,NONE,...,0,1965,0,"18615 7th Avenue South, Burien, Washington 981...",98148,Burien,2022,58,2023,58

In [24]:
# create new column for design_age to see time since build if it was not renovated, or time since renovation if renovated
# first set to renovation age
df['design_age'] = df['yr_from_reno']
#then update columns where there was no renovation done to age of the home
df['design_age'].loc[reno_filter] = df['home_age']
df

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,waterfront,greenbelt,nuisance,view,...,sqft_patio,yr_built,yr_renovated,address,zip,city,sale_year,home_age,yr_from_reno,design_age
0,2022-05-24,675000.0,4,1.0,1180,7140,NO,NO,NO,NONE,...,40,1969,0,"2102 Southeast 21st Court, Renton, Washington ...",98055,Renton,2022,54,2023,54
1,2021-12-13,920000.0,5,2.5,2770,6703,NO,NO,YES,AVERAGE,...,240,1950,0,"11231 Greenwood Avenue North, Seattle, Washing...",98133,Seattle,2021,72,2022,72
2,2021-09-29,311000.0,6,2.0,2880,6156,NO,NO,NO,AVERAGE,...,0,1956,0,"8504 South 113th Street, Seattle, Washington 9...",98178,Seattle,2021,66,2022,66
3,2021-12-14,775000.0,3,3.0,2160,1400,NO,NO,NO,AVERAGE,...,270,2010,0,"4079 Letitia Avenue South, Seattle, Washington...",98118,Seattle,2021,12,2022,12
4,2021-08-24,592500.0,2,2.0,1120,758,NO,NO,YES,NONE,...,30,2012,0,"2193 Northwest Talus Drive, Issaquah, Washingt...",98027,Issaquah,2021,10,2022,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30150,2021-11-30,1555000.0,5,2.0,1910,4000,NO,NO,NO,NONE,...,210,1921,0,"4673 Eastern Avenue North, Seattle, Washington...",98103,Seattle,2021,101,2022,101
30151,2021-06-16,1313000.0,3,2.0,2020,5800,NO,NO,NO,FAIR,...,520,2011,0,"4131 44th Avenue Southwest, Seattle, Washingto...",98116,Seattle,2021,11,2022,11
30152,2022-05-27,800000.0,3,2.0,1620,3600,NO,NO,YES,NONE,...,110,1995,0,"910 Martin Luther King Jr Way, Seattle, Washin...",98122,Seattle,2022,28,2023,28
30153,2022-02-24,775000.0,3,2.5,2570,2889,NO,NO,NO,NONE,...,100,2006,0,"17127 114th Avenue Southeast, Renton, Washingt...",98055,Renton,2022,17,2023,17
30154,2022-04-29,500000.0,3,1.5,1200,11058,NO,NO,NO,NONE,...,0,1965,0,"18615 7th Avenue South, Burien, Washington 981...",98148,Burien,2022,58,2023,58

In [34]:
prebuild_filter = df['design_age'] < 1

# df.loc[:, ('design_age')]
df['design_age'].loc[prebuild_filter] =1
# df['design_age'].loc[:, (prebuild_filter)]

C:\Users\cseta\anaconda3\envs\learn-env\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)